h1 {
    color:#035a2a;
    font-family: 'Playfair-Black';
    font-size: 2em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 20vh;
}
h2{
    font-family: 'Playfair-Bold';
    color: #f8f4f1;
    display: flex;
    justify-content: center;
    text-align: center;
}
h3{
    color: #f8f4f1;
    font-family: 'Potsdam';
    display: flex;
    justify-content: center;
}
body {
    background-image: url(images/background_home.jpg);
    font-family:'Playfair-Regular';
    color: #f8f4f1;
}
nav ul {
    display: flex;
}
ul li {
    justify-content: center;
    text-decoration: none;
    display: flex;
    width: 75px;
    background-color: #f8f4f1;
    color: #035a2a;
}
nav ul img {
    width: 75px;
    justify-content: center;
    text-decoration: none;
}
section p {
    justify-content: center;
    margin-bottom: 2em;
}
a {
    font-family: 'Playfair-Bold';
    color: #f8f4f1;
}
iframe{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    padding: 0px 20px 0px 20px; 
    margin: 0em 0em 3em 0em;
}
img {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button {
    background-color: #f8f4f1;
    display: block;
    color: #035a2a;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5em 1em 5em;
    font-size: 21px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Potsdam';
    box-shadow:0 10px #023519;

}
.button:active {
    background-color: #035a2a;
    color: #f8f4f1;
    box-shadow:0 3px #01170b;
    transform: translateY(4px);
}
/* Custom font inladen */
@font-face { 
    font-family: 'Playfair-Black';
    src: url(fonts/PlayfairDisplay-Black.ttf);
}
@font-face {
    font-family: 'Playfair-Regular';
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'Playfair-Bold';
    src: url(fonts/PlayfairDisplay-Bold.ttf);
}
@font-face {
    font-family: 'Potsdam';
    src: url(fonts/Potsdam.ttf);
}